body
{

    background-image: url("image/nintendo3.1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.console
{
    display: flex;
    justify-content: space-around;
}

h3
{
text-align: center;
    color:white;

}

 #p
 {
color: red;
 }


.footer 
{
    text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    display:inline-block;
    vertical-align:top;
  
}